/* maximum height of 600px and maximum width of 800px.  */
body {
  width: 198px;
  height: 198px;
  border: 1px solid aqua;
  margin: 0;
  & > div {
    margin: 10px;
    /*border: 1px solid green;*/
  }
}

.buttonbar {
  /*margin: 10px;*/
  border: 1px solid red;
  border-radius: 5px;
}

button {
  &[role=close-popup] {
    margin: 0 0 0 auto;
    display: block;
    float: right;
  }
  &[role=super-power] {
    color: blue;
  }
}
