/* maximum height of 600px and maximum width of 800px.  */
body {
  width: 798px;
  height: 598px;
  border: 1px solid aqua;
  margin: 0;
  & > div {
    margin: 10px;
    border: 1px solid red;
    border-radius: 5px;
  }
}
button {
  &[role=close-popup] {
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 10px;*/
    margin: 0 0 0 auto;
    display: block;
    float: right;
  }
  &[role=super-power] {
    color: blue;
  }
}